version: 2
updates:
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: weekly
    groups:
      github-actions-dependencies:
        applies-to: version-updates

  - package-ecosystem: pip
    directories:
      - /
      - /doc
      - /example
      - /test
    schedule:
      interval: weekly
    groups:
      python-dependencies:
        applies-to: version-updates
