name: Continuous Integration

on:
  push:
    branches:
      - master
  pull_request:
  workflow_dispatch:

defaults:
  run:
    shell: bash

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        version: ["3.10", "3.11", "3.12", "3.13", "3.14"]
    steps:

      - name: Harden Runner
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit

      - name: Check out the commit
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Set up Python
        uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
        with:
          python-version: ~${{ matrix.version }}

      - name: Install development dependencies
        run: |
          python3 -m pip install --upgrade pip
          python3 -m pip install \
            -r doc/requirements.txt \
            -r example/requirements.txt \
            -r test/requirements.txt

      - name: Test install
        run: python3 -m pip install .

      - name: Test with pytest
        run: python3 -m pytest --cov=reverse_argparse example/ test/

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5.5.2
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}

      - name: Check documentation spelling
        run: make spelling
        working-directory: ./doc

      - name: Check documentation coverage
        run: |
          make coverage
          mv build/coverage/python.txt ../docs-coverage-report-${{ matrix.version }}.txt
        working-directory: ./doc

      - name: Archive documentation coverage results
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: docs-coverage-report-${{ matrix.version }}
          path: docs-coverage-report-${{ matrix.version }}.txt

      - name: Test uninstall
        run: python3 -m pip uninstall -y reverse_argparse

  commits:
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit

      - name: Conventional Commits
        uses: taskmedia/action-conventional-commits@443b9cf07a7c453dfd92533a7f0d0c67fb4d8140 # v1.1.25
        with:
          types: >
            build|chore|ci|docs|feat|fix|minor|patch|perf|style|refactor|test
