name: Semantic Release

on:
  push:
    branches:
      - master

permissions:
  contents: read

jobs:
  release:
    runs-on: ubuntu-latest
    concurrency: release
    environment: release
    permissions:
      id-token: write

    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@17d0e2bd7d51742c71671bd19fa12bdc9d40a3d6 # v2.8.1
      with:
        egress-policy: audit

    - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7
      with:
        fetch-depth: 0
        token: ${{ secrets.GH_TOKEN }}

    - name: Python Semantic Release
      id: release
      uses: python-semantic-release/python-semantic-release@a2854764c7f77ad43f5e421e5a798bcafd1efc90 # master
      with:
        github_token: ${{ secrets.GH_TOKEN }}

    - name: Publish to PyPI
      uses: pypa/gh-action-pypi-publish@ec4db0b4ddc65acdf4bff5fa45ac92d78b56bdf0 # release/v1
      if: steps.release.outputs.released == 'true'

    - name: Publish to GitHub Releases
      uses: python-semantic-release/upload-to-gh-release@ab38ab601e1cc0a20e26d1ab089e0b9d40d7faf0 # main
      if: steps.release.outputs.released == 'true'
      with:
        github_token: ${{ secrets.GH_TOKEN }}
