name: Semantic Release

on:
  push:
    branches:
      - master

permissions:
  contents: read

jobs:
  release:
    runs-on: ubuntu-latest
    concurrency: release
    environment: release
    permissions:
      id-token: write

    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@0634a2670c59f64b4a01f0f96f84700a4088b9f0 # v2.12.0
      with:
        egress-policy: audit

    - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      with:
        fetch-depth: 0
        token: ${{ secrets.GH_TOKEN }}

    - name: Python Semantic Release
      id: release
      uses: python-semantic-release/python-semantic-release@1a324000f2251a9e722e77b128bf72712653813f # v10.0.2
      with:
        git_committer_email: "reverse-argparse-semantic-release@sandia.gov"
        git_committer_name: "semantic-release"
        github_token: ${{ secrets.GH_TOKEN }}
        ssh_private_signing_key: ${{ secrets.SEMANTIC_RELEASE_PRIVATE_KEY }}
        ssh_public_signing_key: ${{ secrets.SEMANTIC_RELEASE_PUBLIC_KEY }}

    - name: Publish to PyPI
      uses: pypa/gh-action-pypi-publish@76f52bc884231f62b9a034ebfe128415bbaabdfc # release/v1
      if: steps.release.outputs.released == 'true'

    - name: Publish to GitHub Releases
      uses: python-semantic-release/publish-action@e5e3010f6a207cd5d6f5d3dccedbea355484ca02 # v10.0.2
      if: steps.release.outputs.released == 'true'
      with:
        github_token: ${{ secrets.GH_TOKEN }}
