name: Semantic Release

on:
  push:
    branches:
      - master

permissions:
  contents: read

concurrency:
  group: release

jobs:
  release:
    runs-on: ubuntu-latest
    environment: release
    permissions:
      id-token: write

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@e3f713f2d8f53843e71c69a996d56f51aa9adfb9 # v2.14.1
        with:
          egress-policy: audit

      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0
          token: ${{ secrets.GH_TOKEN }}

      - name: Python Semantic Release
        id: release
        uses: python-semantic-release/python-semantic-release@350c48fcb3ffcdfd2e0a235206bc2ecea6b69df0 # v10.5.3
        with:
          git_committer_email: "reverse-argparse-semantic-release@sandia.gov"
          git_committer_name: "semantic-release"
          github_token: ${{ secrets.GH_TOKEN }}
          ssh_private_signing_key: ${{ secrets.SEMANTIC_RELEASE_PRIVATE_KEY }}
          ssh_public_signing_key: ${{ secrets.SEMANTIC_RELEASE_PUBLIC_KEY }}

      - name: Hash Build Artifacts
        if: steps.release.outputs.released == 'true'
        id: hash
        run: |
          cd dist
          echo "hashes=$(find . -type f -exec sha256sum {} + | sort | base64 | tr -d '\n')" >> "$GITHUB_OUTPUT"

      - name: Upload Build Artifacts
        if: steps.release.outputs.released == 'true'
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: dist
          path: dist/

    outputs:
      hashes: ${{ steps.hash.outputs.hashes }}
      released: ${{ steps.release.outputs.released }}

  provenance:
    needs: release
    if: ${{ needs.release.outputs.released == 'true' }}
    permissions:
      actions: read
      id-token: write
      contents: write
    uses: slsa-framework/slsa-github-generator/.github/workflows/generator_generic_slsa3.yml@v2.1.0
    with:
      base64-subjects: "${{ needs.release.outputs.hashes }}"

  publish:
    runs-on: ubuntu-latest
    needs: [release, provenance]
    if: ${{ needs.release.outputs.released == 'true' && needs.provenance.outputs.outcome == 'success' }}
    environment: release
    permissions:
      id-token: write

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@e3f713f2d8f53843e71c69a996d56f51aa9adfb9 # v2.14.1
        with:
          egress-policy: audit

      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0
          token: ${{ secrets.GH_TOKEN }}

      - name: Download Build Artifacts
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          name: dist
          path: dist

      - name: Download Provenance
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          name: ${{ needs.provenance.outputs.provenance-name }}
          path: dist

      - name: Publish to GitHub Releases
        uses: python-semantic-release/publish-action@310a9983a0ae878b29f3aac778d7c77c1db27378 # v10.5.3
        with:
          github_token: ${{ secrets.GH_TOKEN }}

      - name: Remove Provenance for PyPI Upload
        run: rm -f dist/${{ needs.provenance.outputs.provenance-name }}

      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@ed0c53931b1dc9bd32cbe73a98c7f6766f8a527e # release/v1
